<form action="/records/{{record.id}}?_method=PUT" method="post" class="w-25 m-auto mt-5">
  <h3>請修改你的支出</h3>
  {{> record-form}}
  <div class="d-flex justify-content-center mt-5" >
      <button type="submit" class="btn btn-primary btn-lg w-50" style="background-color: orangered;">送出</button>
  </div>
</form>