<form action="/records" method="post" class="w-25 m-auto mt-5">
  <h3>請輸入你的支出</h3>
  {{> record-form}}
  <div class="d-flex justify-content-center mt-5" >
      <button type="submit" class="btn btn-primary btn-lg w-50" style="background-color: orangered;">新增支出</button>
  </div>
</form>